@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* 레이블을 입력 필드 위에 위치시키도록 수정 */
}

label {
    display: block; /* 레이블이 입력 필드 위로 오도록 설정 */
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left; /* 레이블을 왼쪽 정렬 */
}

#member_id,
#nickname,
#name,
#residentRegNumber,
#pass,
input[type="tel"],
input[type="email"] {
    width:300px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

button[type="button"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    cursor: pointer;
    color: white;
    margin-top: 5px;
    width: 100px; /* 버튼 크기 고정 */
}

.check-btn {
    background-color: #333;
    color: white;
}

button[type="submit"] {
    width: 300px;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #4b0082;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

p {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}
