@charset "UTF-8";
/* *{ */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	box-sizing: border-box; */
/* 	font-family: "Noto Sans KR", sans-serif; */
/* } */
a{
	text-decoration: none;
}
a:hover{
	color:#000000;
	text-decoration: none;
}
div#chatRoom::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

div#chatRoom::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

div#chatRoom::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.type_select {
  box-sizing: border-box;
  position: relative;
  width: 50px;
  height: 44px;
}

#search_bar{
	width:auto;
	height: 40px;
	border: 1px solid black;
	border-radius: 20px;
	
}
#window{
	margin: 132px auto 0 auto;
	width: auto;
	height: 900px;
	background-color: #eee;
}
#container{
	margin: 0 auto;
	width: 900px;
}
#chatList{
	background-color: #fff;
	width: 500px;
	height: 900px;
}
#chatRoom{
	background-color: #faf;
	width: 500px;
	height: 900px;
	overflow-y: scroll;
}