@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans KR", sans-serif;
}
a{
	text-decoration: none;
}
p{
	margin: 0;
}
a:hover{
	color:#000000;
	text-decoration: none;
}
#main-container-chat{
	margin-top: 0px;
}
#container{
	display: flex;
	flex-direction:row;
	grid-template-columns: 1fr 1fr;
  	justify-content: center;
	margin: 0 auto;
	width: auto;
}

#chatList{
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 900px;
	background-color: #fff;
}

.flexBoxRow{
	display: flex;
	flex-direction: row;
	align-items: stretch;
    width: 100%;
	padding:10px 0;
}
.flexBoxRow > .form-control{
	position: relative;
    flex: 1 1 auto;
    width: 1%;
}

.type_select {
 	box-sizing: border-box;
 	margin-left: 10px;
 	margin-right: 10px;
 	padding: 5px 10px;
 	width:120px;
	height: 40px;
	border-radius: 10px;
	background-color: #400080;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 900;
	color: white;
}
.type_select:hover{
	background-color: #7300e6;
	color: white;
}
.items{
	position: relative;
	display: flex;
	flex-direction: column;
	width:140px;
	align-items:center;
	text-align: center;
}
.items ul{
	list-style: none;
}
.items li a{
	padding: 0;
	font-size: 1.2rem;
	font-weight:900;
	color: white;
}
.items .drop-menu{
	position: absolute;
    background: #400080;
    border-radius: 10px;
    width: 120px;
    line-height: 45px;
    top: 55px;
    opacity: 0;
    visibility: hidden;
    overflow:hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.items:hover .drop-menu{
	transition: all 0.3s ease;
    top: 40px;
    opacity: 1;
    visibility: visible;
}
.items .drop-menu li:hover{
	background-color: #7300e6;
}
#searchText{
	padding: 5px 10px;
	flex-grow: 1;
	width:200px;
	height: 40px;
	border: 1px solid black;
	border-right: 0px;
	border-radius: 10px 0 0 10px;
}
#searchText::placeholder{
	font-size: 1.1rem;
	font-weight: 500;
}
.search-btn{
	border:1px solid black;
	border-left: 0px;
	border-radius: 0 10px 10px 0;
	width: 50px;
	height: 40px;
	background-color: white;
	margin-right: 10px;
}
.search-btn > img{
	width: 30px;
	height: 30px;
}

#chatTotalRoom{
	flex: 1;
	display: flex;
	flex-direction: column;
	height:740px;
	overflow-Y: scroll;
}
#chatTotalRoom > div{
	display: flex;
	flex-direction: row;
	width:100%;
	height: 100px;
}
#chatTotalRoom > div:hover{
	width:100%;
	height: 100px;
	background-color: #eee;
}
#chatTotalRoom > div > .profile{
	background-color: #aaa;
	border-radius:50%;
	margin:10px;
	width:80px;
	height: 80px;
	overflow: hidden;
}
.profile img{
	width:80px;
	height: 80px;
}
#chatTotalRoom > div > .chatDescript{
	margin:10px;
	flex-grow: 1;
	height: 80px;
}
div#chatTotalRoom::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

div#chatTotalRoom::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #db92fe; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

div#chatTotalRoom::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}
.chatDescript{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.chatDescript > div{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.chatContnet p:nth-child(1){
	font-weight: 900;
}

.chatContnet p{
	font-size: 1.2rem;
}
.chatDescript .alamIcon{
	margin: 0 auto;
	margin-top:10px;
	padding: 2px 6px;
	padding-top:1px;
	width:min-content;
	min-width : 25px;
	min-height : 25px;
	border-radius: 14px;
	background-color: red;
	color: white;
	text-align: center;
}

#chatRoom{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	background-color: #ddbbff;
	width: 600px;
	height: 900px;
}
#productInfo{
	padding: 10px;
	width: 100%;
	height: 160px;
	background-color: #fff;
	box-shadow: 0 6px 5px rgba(0,0,0,0.15);
	visibility: hidden;
	position: relative;
}
#productInfo > div:nth-child(1){
	margin-right: 10px;
	width: 140px;
	height: 140px;
	background-color: #eee;
	overflow: hidden;
}
#productInfo > div:nth-child(1) img{
	width: 140px;
	height: 140px;
}

#productInfo > div:nth-child(2){
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	width: 50px;
	height: 100%;
}
#productInfo > div:nth-child(3){
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50px;
	height: 100%;
}
#productInfo > div:nth-child(3) div{
	display: flex;
	flex-direction: column;
}
#productInfo > div button{
	margin-top:5px;
	height:40px;
	border: 0;
	border-radius:20px; 
	background-color: #d940ff;
	font-size: 1.2rem;
	font-weight: 900;
	color: white;
}
#productInfo > div button:hover{
	background-color: #b300df;
}
#chatContent{
	flex:6 1 auto;
	overflow-Y: scroll;
}
div#chatContent::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

div#chatContent::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #db92fe; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

div#chatContent::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}
.reciveMessage{
	margin: 20px auto 20px 20px;
	padding: 10px 20px; 
	border-radius: 20px;
	background-color: white;
	width: auto;
	min-width:30px;
	max-width: 400px; 
}
.reciveMessage p:first-child{
	overflow-wrap: anywhere;
	margin-bottom: 10px;
}
.reciveMessage p:last-child{
	text-align: right;
}
.sendMessage{
	margin: 20px 20px 20px auto;
	padding: 10px 20px; 
	border-radius: 20px;
	background-color: #eef;
	width: auto;
	min-width:30px;
	max-width: 400px;
}
.sendMessage p:first-child{
	overflow-wrap: anywhere; 
	margin-bottom: 10px;
}
#inputMessage{
	display:flex;
	flex-direction: row;
	padding: 10px;
	height: 80px;
	justify-content: center;
	visibility: hidden;
}
#inputMessage *{
	background-color: white;
	border: 0px;
}
#inputMessage button:first-child{
	border-radius: 20px 0 0 20px;	
}
#inputMessage button:last-child{
	border-radius: 0 20px 20px 0;	
}
#inputMessage button{
	padding: 10px;
	width: 60px;
	height: 60px;
}
#inputMessage textarea{
	padding: 10px 0; 
	resize: none;
	flex-grow: 1;
}
#inputMessage textarea:focus{
	outline: 0;
}
.box{
  display: inline-block;
  height: 160px;
  width: 100%;
  float:left;
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  transition: all .2s ease;
  background-color: rgba(0,0,0,0.5);
}
.loading_visibility{
  visibility: hidden;
}
.loader10:before{
  content: "";
  position: absolute;
  top: 0px;
  left: -25px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  -webkit-animation: loader10g 3s ease-in-out infinite;
      animation: loader10g 3s ease-in-out infinite;
}

.loader10{
  position: relative;
  width: 12px;
  height: 12px;
  top: 46%;
  left: 46%;
  border-radius: 12px;
  -webkit-animation: loader10m 3s ease-in-out infinite;
      animation: loader10m 3s ease-in-out infinite;
}


.loader10:after{
  content: "";
  position: absolute;
  top: 0px;
  left: 25px;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  -webkit-animation: loader10d 3s ease-in-out infinite;
      animation: loader10d 3s ease-in-out infinite;
}

@-webkit-keyframes loader10g{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, 1);}
  50%{background-color: rgba(255, 255, 255, .2);}
  75%{background-color: rgba(255, 255, 255, .2);}
  100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10g{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, 1);}
  50%{background-color: rgba(255, 255, 255, .2);}
  75%{background-color: rgba(255, 255, 255, .2);}
  100%{background-color: rgba(255, 255, 255, .2);}
}

@-webkit-keyframes loader10m{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, .2);}
  50%{background-color: rgba(255, 255, 255, 1);}
  75%{background-color: rgba(255, 255, 255, .2);}
  100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10m{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, .2);}
  50%{background-color: rgba(255, 255, 255, 1);}
  75%{background-color: rgba(255, 255, 255, .2);}
  100%{background-color: rgba(255, 255, 255, .2);}
}

@-webkit-keyframes loader10d{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, .2);}
  50%{background-color: rgba(255, 255, 255, .2);}
  75%{background-color: rgba(255, 255, 255, 1);}
  100%{background-color: rgba(255, 255, 255, .2);}
}
@keyframes loader10d{
  0%{background-color: rgba(255, 255, 255, .2);}
  25%{background-color: rgba(255, 255, 255, .2);}
  50%{background-color: rgba(255, 255, 255, .2);}
  75%{background-color: rgba(255, 255, 255, 1);}
  100%{background-color: rgba(255, 255, 255, .2);}
}