@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


/* 상품리스트 고유 정의 */


#sorting {
	margin-top: 30px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-end;
    align-items:right;
}

#sorting button {
    background-color: white;
    color: #4e229e;
    border: 1px solid #4e229e;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

#sorting button:hover {
    background-color: #4e229e;
    color: white;
}

#sorting button.selected {
	background-color: #4e229e;
    color: white;
}

#selector-container {
	margin-top: 30px;
	height: 1200px;
    width: 230px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#default {
	text-align: right;
	margin: 5px 0;
}

#default a {
	color: #4e229e;
	font-size: 15px;
}

#selector-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #4e229e;
    padding: 0;
    text-align: center;
    line-height: 100px;
    border-radius: 5px 5px 0 0;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

#selector-content {
	padding: 10px 10px 5px 15px;
}

.selector-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
}

.selector-list li {
    padding: 5px 0px 5px 10px;
}

ul#category-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
}

ul#category-list li {
    padding: 5px 0px 5px 10px;
}

ul#category-list li.selected {
    color: #4e229e;
    font-weight: bold;
}

.selector {
    cursor: pointer;
}

.selector.selected {
    color: #4e229e;
    font-weight: bold;
}

.selector:hover {
    color: #4e229e;
    font-weight: bold;
}

.selector-checklist {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;	
}

.selector-checklist li {
    padding: 5px;
    margin-bottom: 10px;
}

.group-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
}

.selector {
    display: block;
    padding: 8px 0;
    color: #333;
    font-size: 16px;
}

.check_selector {
	display: block;
    padding: 8px 0;
    color: #333;
    font-size: 16px;	
}

.selector input {
    margin-right: 5px;
}

#price input {
    width: 80px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ddd;
}

#price button {
    padding: 5px 10px;
    background-color: #4e229e;
    color: white;
    border: none;
    cursor: pointer;
}

#price button:hover {
    background-color: #4e229e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  width: 62px;
  font-size: 12px;
  text-align: center;
}

#price_selector{
	padding: 4px 10px;
    font-size: 11px;
    background-color: #4e229e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

