@charset "UTF-8";

.profile-circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #d3d3d3;
    align-items: center;
    justify-content: center;
    position:relative;
    left:295px;
    margin-bottom:10px;
}

.edit-info {
	text-align:right;
}
.profile-nickname{
	text-align:center;
	font-weight:600;
	font-size:1.2em;
}
