@charset "UTF-8";

a {
	text-decoration:none;
}

aside {
	height:450px;
}

h2 {
	font-size:30px;
	margin-top:20px;
}

main {
	width:1050px;
}

.infoUpdate-container {
	text-align:center;
	align-items:center;
	width:500px;
}

.main-container-side-profile {
	flex-grow:1;
    padding: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.profile-circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #d3d3d3;
    margin-bottom:10px;
}

.profile-circle-edit {
    position: absolute;
    top:0;
    right:20px;
    cursor: pointer;
}

.profile-circle-cancel {
    position: absolute;
    top:0;
    right:-20px;
}

.profile-circle-div {
	display:flex;
	align-items: center;
    justify-content: center;
    position:relative;
}

.profile-edit-a {
	text-align:right;
	font-size:19px;
}

.profile-a {
	text-align:right;
	font-size:19px;
}

.profile-a a {
	text-decoration:none;
}

.profile-a button {
	font-size:1em;
}

.profile-nickname{
	text-align:center;
	font-weight:600;
	font-size:1.2em;
}

.profile-update-form {
	display:flex;
	flex-direction:column;
}

.login-container {
    background: #f8f8f8;
    display:flex;
    flex-direction:column;
    padding: 40px;
    text-align:center;
    margin-top:80px;
    margin-bottom:150px;
    align-items:center;
    justify-content:center;
}

.login-bttn {
    padding: 10px 20px; /* 버튼의 내부 패딩 설정 */
    background-color: #4b0082; /* 배경색 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    margin-top: 0; /* 상단 마진을 없애서 버튼을 더 위로 */
    margin-left: 10px; /* 오른쪽으로 약간의 여백을 줘서 위치 조정 */
}

.input-group {
    margin-bottom: 10px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #666;
    display: block;
    margin-bottom: 3px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.profile-item-list {
	width:1038px;
	border:1px solid black;
	border-radius:20px;
	padding:20px;
	height:700px;
	margin-top:10px;
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items:flex-start;	
}

.profile-item-list-piece {
	border:1px solid black;
	border-radius:10px;
	height:320px;
	width:245px;
	margin:1px;
}

.profile-item-image {
	border-radius:10px 10px 0 0;
	height:190px;
	width:233px;
	margin:5px 5px 0 5px;
}

.profile-item-image-zzim {
	position: absolute;
	top: 15px;
	right: 15px;
}

.profile-item-image-div {
	display:flex;
	flex-direction:column;	
	position: relative;
}

.profile-item-image-cover1 {
	background-color:gray;
	color:white;
	text-align:center;
	border-radius:0 0 10px 10px;
	width:233px;	
	margin:0 auto;
}

.profile-item-image-cover2 {
	background-color:black;
	color:white;
	text-align:center;
	border-radius:0 0 10px 10px;
	width:233px;	
	margin:0 auto;
}

.profile-item-image-cover3 {
	background-color:orange;
	color:white;
	text-align:center;
	border-radius:0 0 10px 10px;
	width:233px;	
	margin:0 auto;
}

.profile-item-image-cover4 {
	background-color:blue;
	color:white;
	text-align:center;
	border-radius:0 0 10px 10px;
	width:233px;	
	margin:0 auto;
}

.profile-item-name {
	text-align:center;	
	white-space:nowrap; /* 줄바꿈 방지 */
    overflow:hidden; /* 넘치는 텍스트 숨김 */
    text-overflow:ellipsis; /* 줄임 표시(...) 추가 */
}

.profile-item-review {
	text-align:center;
	white-space:nowrap; /* 줄바꿈 방지 */
    overflow:hidden; /* 넘치는 텍스트 숨김 */
    text-overflow:ellipsis; /* 줄임 표시(...) 추가 */
}

.profile-item-review1 {
	text-align:center;
	white-space:nowrap; /* 줄바꿈 방지 */
    overflow:hidden; /* 넘치는 텍스트 숨김 */
    text-overflow:ellipsis; /* 줄임 표시(...) 추가 */
}

.pagination {padding:40px 0 0; text-align:center;}
.pagination a {display:inline-block; }
.pagination a.pbtn {display:inline-block; padding:7px; text-align:center; vertical-align:middle; font-size:0;}
.pagination a .pagenum {display:inline-block; width:25px; height:25px; line-height:25px; text-align:center; vertical-align:middle;}
.pagination a .currentpage {border-radius:3px; background:#384d75; color:#fff;}
.pagination a:hover .pagenum {border-radius:3px; background:#ddd;}

