@charset "UTF-8";

* {
	font-family: "Noto Sans KR", sans-serif;
}

a {
	text-decoration:none;
	color: black;
}

aside {
	height:500px;
}

h2 {
	font-size:30px;
	margin-top:20px;
}

main {
	width:1050px;
}

.infoUpdate-container {
	text-align:center;
	align-items:center;
	width:500px;
}

.main-container-side-profile {
	flex-grow:1;
    padding: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.profile-circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #d3d3d3;
    margin-bottom:10px;
}

.profile-circle-edit {
    position: absolute;
    top:0;
    right:20px;
    cursor: pointer;
}

.profile-circle-cancel {
    position: absolute;
    top:0;
    right:-20px;
}

.profile-circle-div {
	display:flex;
	align-items: center;
    justify-content: center;
    position:relative;
}

.profile-edit-a {
	text-align:right;
	font-size:19px;
}

.profile-a-update {
	display:flex;
	justify-content:flex-end;
	font-size: 2em;
}
.profile-a {
	text-align:right;
	font-size:19px;
}

.profile-a a {
	text-decoration:none;
}

.profile-a button {
	background-color: white;
    color: #4e229e;
    border: 1px solid #4e229e;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.profile-a button:hover {
	background-color: #4E229E;
	color: white;
}

.profile-a button.active {
    background-color: #4E229E;
    color: white;
}

.profile-item-list button {
	background-color: #4e229e;
    color: white;
    border: 1px solid #4e229e;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-nickname{
	text-align:center;
	font-weight:600;
	font-size:1.2em;
}

.profile-update-form {
	display:flex;
	flex-direction:column;
}

.active-link {
    background-color: rgba(78, 34, 158, 0.23); /* 클릭 시 변경될 배경색 */
    color: white; /* 텍스트 색상 변경 */
}

.login-container {
    background: #f8f8f8;
    display:flex;
    flex-direction:column;
    padding: 40px;
    text-align:center;
    margin-top:80px;
    margin-bottom:150px;
    align-items:center;
    justify-content:center;
}

.login-bttn {
    padding: 10px 20px; /* 버튼의 내부 패딩 설정 */
    background-color: #4b0082; /* 배경색 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    margin-top: 0; /* 상단 마진을 없애서 버튼을 더 위로 */
    margin-left: 10px; /* 오른쪽으로 약간의 여백을 줘서 위치 조정 */
}

.input-group {
    margin-bottom: 10px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #666;
    display: block;
    margin-bottom: 3px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.profile-item-list {
	margin-top:10px;
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items:flex-start;	
}

.profile-item-list a {
	color: black;
}

.profile-item-list-piece {
	border:#212529;
	background-color: #fff;
	height:500px;
	width:242px;
	margin:10px;
	border: 1px solid rgba(0, 0, 0, .125);
	
}

.profile-item-image {
	height:260px;
	background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem .25rem 0 0;
    object-fit: cover !important;
}

.profile-item-imagesell {
	height:236px;
	background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem .25rem 0 0;
    object-fit: cover !important;
}

.profile-item-image-zzim1 {
	position: absolute;
	top: 15px;
	right: 15px;
}

.profile-item-image-div {
	display:flex;
	flex-direction:column;	
	position: relative;
}

.profile-item-image-cover1 {
	background-color: #78E150;
	color:white;
	text-align:center;
	width:240px;	
	margin:0 auto;
}

.profile-item-image-cover2 {
	background-color:gray;
	color:white;
	text-align:center;
	width:240px;	
	margin:0 auto;
}

.profile-item-image-cover3 {
	background-color: #5ACCFF;
	color:white;
	text-align:center;
	width:240px;	
	margin:0 auto;
}

.profile-item-name {
	text-align:center;	
	margin: 20px 20px 0;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow:hidden; /* 넘치는 텍스트 숨김 */
    text-overflow:ellipsis; /* 줄임 표시(...) 추가 */
}

.profile-item-name1 {
	text-align:center;	
	margin: 0 20px 0;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow:hidden; /* 넘치는 텍스트 숨김 */
    text-overflow:ellipsis; /* 줄임 표시(...) 추가 */
}

.profile-item-review {
	text-align:center;
	white-space:nowrap; /* 줄바꿈 방지 */
    overflow:hidden; /* 넘치는 텍스트 숨김 */
    text-overflow:ellipsis; /* 줄임 표시(...) 추가 */
    position: absolute;
	top: 110px;
	right: 98px;
}

.profile-item-review1 {
	text-align:center;
	font-size: 1.2em;
	position: absolute;
	top: 140px;
	right: 12px;
	margin:0 65px;
	padding: 1px 10px;
}

.profile-item-review2 {
	text-align:center;
	white-space:nowrap; /* 줄바꿈 방지 */
    overflow:hidden; /* 넘치는 텍스트 숨김 */
    text-overflow:ellipsis; /* 줄임 표시(...) 추가 */
    position: absolute;
	top: 134px;
	right: 98px;
}

.profile-item-review3 {
	text-align:center;
	white-space:nowrap; /* 줄바꿈 방지 */
    position: absolute;
	top: 165px;
	right: 80px;
}

.profile-item-review4 {
	text-align:center;
	white-space:nowrap; /* 줄바꿈 방지 */
    position: absolute;
	top: 165px;
	right: 65px;
}

.asdf {
	text-align:center;
	white-space:nowrap; /* 줄바꿈 방지 */
    overflow:hidden; /* 넘치는 텍스트 숨김 */
    text-overflow:ellipsis; /* 줄임 표시(...) 추가 */
    position: absolute;
	top: 110px;
	right: 98px;
}

.profile-item-detail {
	width:150px;
	text-align:center;
	font-size: 1.2em;
	position: absolute;
	top: 200px;
	right: -20px;
	margin:0 65px;
	border :1px solid #343a40;
	border-radius: 5px;
	padding: 0px 10px;
}

.profile-item-detail1 {
	width:150px;
	text-align:center;
	font-size: 1.2em;
	position: absolute;
	top: 224px;
	right: -20px;
	margin:0 65px;
	border :1px solid #343a40;
	border-radius: 5px;
	padding: 0px 10px;
}

.pagination1 {padding:40px 0 0; text-align:center;}
.pagination1 a {display:inline-block; }
.pagination1 a .pbtn {display:inline-block; padding:7px; text-align:center; vertical-align:middle; font-size:0;}
.pagination1 a .pagenum {display:inline-block; width:25px; height:25px; line-height:25px; text-align:center; vertical-align:middle;}
.pagination1 a .currentpage {border-radius:3px; background:#384d75; color:#fff;}
.pagination1 a:hover .pagenum {border-radius:3px; background:#ddd;}

