@charset "UTF-8";

/* 화면 전체를 중앙에 정렬 */
body, html {
    height: 100%; /* 화면 전체 높이를 기준으로 */
    margin: 0;
}

#container {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;     /* 세로 중앙 정렬 */
    height: 80vh;            /* 페이지 높이의 80%로 설정 */
}

main {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* 내부 요소들을 중앙으로 정렬 */
}

input[type="text"] {
    width: 200px;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #4b0082;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0051cc;
}
