<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.AdminMapper">
	<select id="getReportCount" resultType="java.lang.Integer">
		select count(*)
		from Report
		<if test="search != null">
			where report_id like "%#{search}%" 
			or reporter_id like "%#{search}%" 
			or reportee_id like "%#{search}%" 
			or CONVERT(reported_item_id, CHAR) like "%#{search}%" 
			or report_type like "%#{search}%" 
			or report_contents like "%#{search}%" 
			or reported_at like "%#{search}%" 
			or report_status like "%#{search}%" 
		</if>
		order by reported_at desc
	</select>
	<select id="getReportList" resultType="com.itwillbs.domain.ReportDTO"> 
		select *
		from Report
		<if test="search != null">
			where report_id like "%#{search}%" 
			or reporter_id like "%#{search}%" 
			or reportee_id like "%#{search}%" 
			or CONVERT(reported_item_id, CHAR) like "%#{search}%" 
			or report_type like "%#{search}%" 
			or report_contents like "%#{search}%" 
			or reported_at like "%#{search}%" 
			or report_status like "%#{search}%" 
		</if>
		order by reported_at desc
		limit #{startRow}, #{pageSize}
	</select>
	<update id="updateReport">
		update Report set report_contents = #{report_contents}, report_status = #{report_status}
		where report_id = #{report_id}
	</update>
	
	
</mapper>