<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.ChatMapper">
	<select id="checkRoomId" resultType="java.lang.Integer"> 
		select count(*)
		from ChatRoom
		where chat_room_id = '${chat_room_id}'
	</select>
	<insert id="createRoom">
		insert into ChatRoom(chat_room_id, product_id, buyer_id, seller_id, title)
		values('${chat_room_id}', ${product_id}, '${buyer_id}', '${seller_id}', '${title}')
	</insert>
	
	<select id="getProductInfo" resultType="com.itwillbs.domain.ProductDTO">
		select * 
		from Product
		where product_id = ${product_id}
	</select>
</mapper>