<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.HomeMapper">

	<select id="getPopList" resultType="com.itwillbs.domain.ProductDTO">
		SELECT p.*, COUNT(z.zzim_id) AS zzim_count
		FROM Product p LEFT JOIN Zzim z ON p.product_id = z.product_id
		GROUP BY p.product_id ORDER BY zzim_count DESC, p.view_count DESC
		LIMIT 12	
	</select>

</mapper>

