<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.MemberMapper">
	<insert id="insertMember">
		insert into Mem(member_id, pass, nickname, name, phone, email, created_at, social_loginfo) 
		values(#{member_id}, #{pass}, #{nickname}, #{name}, #{phone}, #{email}, #{created_at}, "일반")
	</insert>
	<select id="userCheck" resultType="com.itwillbs.domain.MemberDTO">
		select * from Mem
		where member_id = #{member_id} and pass = #{pass} 
	</select>
	<select id="getMember" resultType="com.itwillbs.domain.MemberDTO">
		select * from Mem
		where member_id = #{member_id}
	</select>
	<update id="updateMember">
		update Mem
		set pass = #{pass}, nickname = #{nickname}, name = #{name}, phone = #{phone}, email = #{email}
		where member_id = #{member_id}
	</update>
	
<!-- 	소셜 로그인 체크 -->
	<select id="SocialCheck" resultType="com.itwillbs.domain.MemberDTO">
		select * from Mem
		where email = #{email} 
	</select>
	
	<insert id="insertSocial">
		insert into Mem(member_id, pass, nickname, name, phone, email, created_at, social_loginfo) 
		values(#{email}, #{member_id}, #{nickname}, #{name}, #{phone}, #{email}, #{created_at}, "네이버")
	</insert>
	
	<select id="idCheck" resultType="com.itwillbs.domain.MemberDTO">
		select * from Mem
		where name = #{name} and email = #{email} and phone = #{phone} 
	</select>
	
	<select id="passCheck" resultType="com.itwillbs.domain.MemberDTO">
		select * from Mem
		where member_id = #{member_id} and name = #{name} and email = #{email} and phone = #{phone} 
	</select>
	
	
</mapper>