<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.MyPageMapper">
	<select id="getProductList" resultType="com.itwillbs.domain.ProductDTO">
		select * from Product
		where seller_id = #{seller_id}
		<if test="sale == 'pro'">
			and trade_status = '거래 가능' 
		</if>
		<if test="sale == 'com'">
			and trade_status = '거래 완료' 
		</if>
		<if test="sale == 'rsv'">
			and trade_status = '예약 중' 
		</if>
		<if test="sort == 'priceDesc'">
			order by field(trade_status, '거래 중', '예약 중', '거래 완료'), product_price desc
		</if>
		<if test="sort == 'priceAsc'">
			order by field(trade_status, '거래 중', '예약 중', '거래 완료'), product_price
		</if>
		<if test="sort == 'dateDesc'">
			order by field(trade_status, '거래 중', '예약 중', '거래 완료'), created_datetime desc
		</if>
		<if test="sort == 'dateAsc'">
			order by field(trade_status, '거래 중', '예약 중', '거래 완료'), created_datetime
		</if>
		<if test="sort == null or sort == ''">
			order by field(trade_status, '거래 중', '예약 중', '거래 완료'), created_datetime desc
		</if>
		limit #{startRow},#{pageSize}
	</select>
		
	<select id="getProductCount" resultType="java.lang.Integer">
		select count(*) from Product
		where seller_id = #{seller_id}
		<if test="sale == 'pro'">
			and trade_status = '거래 가능' 
		</if>
		<if test="sale == 'com'">
			and trade_status = '거래 완료' 
		</if>
		<if test="sale == 'rsv'">
			and trade_status = '예약 중' 
		</if>
	</select>
	
	<select id="getZzimList" resultType="com.itwillbs.domain.ProductDTO">
		select * from 
		Zzim z join Product p
		on z.product_id = p.product_id
		where z.member_id = #{seller_id}
		<if test="sort == 'priceDesc'">
			order by p.product_price desc
		</if>
		<if test="sort == 'priceAsc'">
			order by p.product_price
		</if>
		<if test="sort == 'dateDesc'">
			order by p.created_datetime desc
		</if>
		<if test="sort == 'dateAsc'">
			order by p.created_datetime
		</if>
		<if test="sort == null or sort == ''">
			order by z.zzim_id desc
		</if>
		limit #{startRow},#{pageSize}
	</select>
	
	<select id="getZzimCount" resultType="java.lang.Integer">
		select count(*) from Zzim
		where member_id = #{seller_id}
	</select>
	
	<delete id="deleteZzim">
		delete from Zzim
		where member_id = #{member_id}
		and product_id = #{product_id}
	</delete>
	
	<select id="getBuyList" resultType="com.itwillbs.domain.ProductDTO">
		select p.product_id, p.seller_id, p.product_name, p.product_price, p.product_img1, p.created_datetime, p.trade_status, t.buyer_id, t.transaction_end_date, t.is_reserved, t.reservation_date, r.review_content, r.review_quality, r.review_price, r.review_time, r.review_manner from 
		Product p join TX t
		on p.product_id = t.product_id
		left join Review r
		on p.product_id = r.product_id
		where t.buyer_id = #{seller_id}
		<if test="sale == '' or sale == null">
			and t.is_reserved = true 
		</if>
		<if test="sale == 'pro'">
			and t.transaction_end_date is null
			and t.is_reserved = true
		</if>
		<if test="sale == 'com'">
			and t.transaction_end_date is not null 
		</if>
		<if test="sort == 'priceDesc'">
			order by t.transaction_end_date, p.product_price desc
		</if>
		<if test="sort == 'priceAsc'">
			order by t.transaction_end_date, p.product_price
		</if>
		<if test="sort == 'dateDesc'">
			order by t.transaction_end_date, t.reservation_date desc
		</if>
		<if test="sort == 'dateAsc'">
			order by t.transaction_end_date, t.reservation_date
		</if>
		<if test="sort == null or sort == ''">
			order by t.transaction_end_date, t.reservation_date desc
		</if>
		limit #{startRow},#{pageSize}
	</select>
	
	<select id="getBuyCount" resultType="java.lang.Integer">
		select count(*) from TX
		where buyer_id = #{seller_id}
		<if test="sale == '' or sale == null">
			and is_reserved = true
		</if>
		<if test="sale == 'pro'">
			and transaction_end_date is null
			and is_reserved = true
		</if>
		<if test="sale == 'com'">
			and transaction_end_date is not null
		</if>
	</select>
	
	<update id="deleteMem">
		update Mem
		set is_withdrawn = true, withdrawn_at = now()
		where member_id = #{member_id}
	</update>
	
	<select id="allTX" resultType="java.lang.Integer">
		SELECT 
			(SELECT COUNT(*) 
			FROM Product 
			WHERE seller_id = #{id} 
			AND trade_status = '거래 완료') 
			+
			(SELECT COUNT(*) 
			FROM TX 
			WHERE buyer_id = #{id} 
			AND transaction_end_date IS NOT NULL);
	</select>
	
	<delete id="deleteSell">
		delete from Product
		where product_id = #{product_id}
	</delete>
	
	<update id="updateReserv">
		update Product p join TX t
		on p.product_id = t.product_id
		set t.is_reserved = false, p.trade_status = '거래 가능'
		where p.product_id = #{product_id}
		and p.seller_id = #{seller_id}
		and t.is_reserved = true
	</update>
	
	<insert id="insertReview">
		insert into Review
		values(default, #{product_id}, #{review_quality}, #{review_price}, #{review_time}, #{review_manner}, #{review_content}, now())
	</insert>
	
	<update id="updateReviewStatus">
		update Product
		set trade_status = '후기 작성 완료'
		where product_id = #{product_id}
	</update>
</mapper>

