<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.MyPageMapper">

	<select id="getProductList" resultType="com.itwillbs.domain.ProductDTO">
		select * from Product
		where seller_id = #{seller_id}
<!-- 		order by trade_status desc  -->
		limit #{startRow},#{pageSize}
	</select>
	
	<select id="getProductCount" resultType="com.itwillbs.domain.ProductDTO">
		select count(*) from Product
		where seller_id = #{seller_id}
	</select>

</mapper>

