<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.ProductListMapper">

	<select id="getPopList" resultType="com.itwillbs.domain.ProductDTO">
		SELECT p.*, COUNT(z.zzim_id) AS zzim_count
		FROM Product p LEFT JOIN Zzim z ON p.product_id = z.product_id
		WHERE trade_status = '거래 가능'
		GROUP BY p.product_id ORDER BY zzim_count DESC, p.view_count DESC
		LIMIT 12
	</select>
	
	<select id="loadMorePopList" parameterType="map" resultType="com.itwillbs.domain.ProductDTO">
		SELECT p.*, COUNT(z.zzim_id) AS zzim_count
		FROM Product p LEFT JOIN Zzim z ON p.product_id = z.product_id
		WHERE trade_status = '거래 가능'
		GROUP BY p.product_id ORDER BY zzim_count DESC, p.view_count DESC
		LIMIT #{offset}, #{itemsPerPage}
	</select>

	<select id="getProductList" parameterType="map" resultType="com.itwillbs.domain.ProductDTO">
		SELECT * FROM Product WHERE 1=1
		<if test="search != null">
			AND (category_name LIKE #{search} OR product_name LIKE #{search} OR product_desc LIKE #{search})
		</if>
		<if test="category_name != null">
			AND category_name = #{category_name}
		</if>
		<if test="trade_method != null">
			AND (trade_method=#{trade_method} OR trade_method='직거래/택배')
		</if>
		<if test="pay_method != null">
			AND (pay_method=#{pay_method} OR pay_method='현금/페이')
		</if>
		<if test="trade_status != null">
			<if test="trade_status == 'disable'">
				AND (trade_status='예약 중' OR trade_status='거래 완료' OR trade_status='후기 작성 완료')
			</if>
			<if test="trade_status == 'able'">
				AND trade_status = '거래 가능'
			</if>
		</if>
		<if test="(startPrice != null) and (endPrice != null)">
			AND product_price BETWEEN #{startPrice} AND #{endPrice}
		</if>
		<choose>
			<when test="sorting == 'latest' or sorting == null">
				ORDER BY created_datetime DESC
			</when>
			<when test="sorting == 'price_high_to'">
				ORDER BY product_price DESC
			</when>
			<when test="sorting == 'price_low_to'">
				ORDER BY product_price
			</when>
		</choose>
		LIMIT #{itemsPerPage} OFFSET #{offset}
	</select>
	
</mapper>

