<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.PurchaseMapper">

	<select id="getItemsByCategory" resultType="com.itwillbs.domain.PurchaseItemsDTO">
		SELECT * FROM PurchaseItems WHERE category_name = #{category_name}
	</select>
	
	<select id="getItemsBySearch" parameterType="map" resultType="com.itwillbs.domain.PurchaseItemsDTO">
		SELECT * FROM PurchaseItems WHERE 1=1
    	<if test="category_name != null">
        AND category_name = #{category_name}
    	</if>
   		<if test="query != null">
        AND (pc_item_name LIKE #{query} OR item_maker LIKE #{query})
    	</if>
	</select>

<!-- 	<select id="getMaxNum" resultType="java.lang.Integer"> -->
<!-- 		SELECT MAX(purchase_id) FROM board -->
<!-- 	</select> -->
	
	<insert id="register">
		INSERT INTO PurchaseRequest(pc_item_name, member_id, expected_grade, expected_price, shipping_method, transfer_bank, transfer_account)
		VALUES(#{pc_item_name}, #{member_id}, #{expected_grade}, #{expected_price}, #{shipping_method}, #{transfer_bank}, #{transfer_account})
	</insert>
	
	<select id="getPurchList" parameterType="map" resultType="com.itwillbs.domain.PurchaseRequestDTO">
		SELECT purchase_id, pc_item_name, expected_grade, request_date, purchase_status FROM PurchaseRequest
		WHERE member_id=#{member_id} ORDER BY request_date DESC
		LIMIT #{pageDTO.startRow}, #{pageDTO.pageSize}
	</select>

	<select id="getPurchDetail" resultType="com.itwillbs.domain.PurchaseRequestDTO">
		SELECT p.*, b.bank_name AS bank_name FROM PurchaseRequest p JOIN Banks b ON p.transfer_bank = b.bank_code WHERE purchase_id=#{purchase_id}
	</select>

	<update id="cancelRequest">
		UPDATE PurchaseRequest SET purchase_status="매입 취소" WHERE purchase_id=#{purchase_id}
	</update>
	
	<select id="getBankInfo" resultType="com.itwillbs.domain.BanksDTO">
		SELECT * FROM Banks ORDER BY bank_code
	</select>
	
	<select id="getMemberName" resultType="java.lang.String">
		SELECT name FROM Mem WHERE member_id = #{member_id};
	</select>

	<select id="getPurchCount" resultType="java.lang.Integer">
		SELECT count(*) FROM PurchaseRequest WHERE member_id=#{member_id}
	</select>
</mapper>

